<div class='container'>
  <div class="label">Flight Number:</div>
  <div class="info"><%= flight.id%></div>
</div>
<div class='container'>
  <div class="label">Departure:</div>
  <div class="info"><%= flight.departure_date_time_formatted %></div>
</div >
<div class='container'>
  <div class="label">Duration:</div>
  <div class="info"><%= flight.duration_formatted %></div>
</div>
<div class='container'>
  <div class="label">Origin Airport:</div>
  <div class="info"><%= flight.departure_airport.name %></div>
</div>
<div class='container'>
  <div class="label">Destination Airport:</div>
  <div class="info"><%= flight.arrival_airport.name %></div>
</div>